*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
 
#bg{
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
    background-image: url(https://plus.unsplash.com/premium_photo-1664544228357-06ce9e98080e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDMzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-position: center;
    background-size:cover;
    position: relative;
}

#card{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.unsplash.com/photo-1762374008545-5d9a847901ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExMXxibzhqUUtUYUUwWXx8ZW58MHx8fHx8);
}

button{
    color: black;

}